[submodule "micro-ecc"]
	path = micro-ecc
	url = https://github.com/kmackay/micro-ecc.git
	ignore = dirty
[submodule "nRF51_SDK"]
	path = nRF51_SDK
	url = https://github.com/hello/nRF51_SDK.git
[submodule "SoftDevice"]
	path = SoftDevice
	url = https://github.com/hello/nRF51822_SoftDevice.git
[submodule "tools/JLink_MacOSX_V474"]
	path = tools/JLink_MacOSX_V474
	url = https://github.com/hello/JLink_MacOSX_V474
