[submodule "micro-ecc"]
	path = micro-ecc
	url = https://github.com/kmackay/micro-ecc.git
[submodule "nRF51_SDK"]
	path = nRF51_SDK
	url = https://github.com/hello/nRF51_SDK.git
[submodule "SoftDevice"]
	path = SoftDevice
	url = https://github.com/hello/nRF51822_SoftDevice.git
